Početak 2020-02-18

In [1]:
import pandas as pd
from pandas import DataFrame as df
from google.colab import files

In [7]:
start_date="2020-04-15"
end_date="2020-04-16"
wunderground_station_id="IPTUJ11"
station_id="DUDU1234"

In [8]:
range_of_dates=pd.date_range(start=start_date, end=end_date)

In [9]:
range_of_dates=list(map(lambda x: str(x)[:10],range_of_dates))

In [10]:
print(range_of_dates)

['2020-04-15', '2020-04-16']

In [43]:
for date in range_of_dates:

  url=f"https://www.wunderground.com/dashboard/pws/{wunderground_station_id}/table/{date}/{date}/daily"
  dfs = pd.read_html(url,match="Precip. Rate.")
  data = pd.concat(dfs)
  data.dropna(inplace = True)
  data.reset_index(drop=True)
  data.to_csv(f"{wunderground_station_id}_{date}")

In [44]:
data=data.replace(to_replace=r' °F', value='', regex=True)
data=data.replace(to_replace=r'°%', value='', regex=True)
data=data.replace(to_replace=r'°in', value='', regex=True)
data=data[['Time', 'Temperature', 'Dew Point', 'Humidity', 'Pressure', 'Precip. Accum.']]
data

         Time Temperature Dew Point Humidity Pressure Precip. Accum.
1    12:04 AM     42.9 °F   30.9 °F      62    30.05           0.00
2    12:09 AM     43.4 °F   32.0 °F      64    30.06           0.00
3    12:14 AM     41.6 °F   31.7 °F      68    30.05           0.00
4    12:19 AM     41.4 °F   31.7 °F      68    30.05           0.00
5    12:24 AM     41.5 °F   31.9 °F      68    30.05           0.00
..        ...         ...       ...      ...      ...            ...
284  11:39 PM     57.6 °F   33.0 °F      39    29.82           0.00
285  11:44 PM     57.3 °F   32.8 °F      39    29.81           0.00
286  11:49 PM     57.4 °F   32.7 °F      39    29.81           0.00
287  11:54 PM     56.9 °F   32.9 °F      40    29.81           0.00
288  11:59 PM     56.8 °F   32.6 °F      40    29.81           0.00

[288 rows x 6 columns]

In [ ]:
files.download()

TypeError: ignored