Početak 2020-02-18

In [16]:
import pandas as pd
from pandas import DataFrame as df
from google.colab import files
import datetime
import strftime

In [2]:
start_date="2021-04-20"
end_date="2021-04-21"
wunderground_station_id="IPTUJ11"
station_id="DUDU1234"

In [3]:
range_of_dates=pd.date_range(start=start_date, end=end_date)

In [4]:
range_of_dates=list(map(lambda x: str(x)[:10],range_of_dates))

In [5]:
print(range_of_dates)

['2021-04-20', '2021-04-21']

In [26]:
for measurement_date in range_of_dates:

  url=f"https://www.wunderground.com/dashboard/pws/{wunderground_station_id}/table/{measurement_date}/{measurement_date}/daily"
  dfs = pd.read_html(url,match="Precip. Rate.")
  data = pd.concat(dfs)
  data.dropna(inplace = True)
  data.to_csv(f"{wunderground_station_id}_{measurement_date}")

In [9]:
  data = pd.concat(dfs)
  data.dropna(inplace = True)
  data.to_csv(f"{wunderground_station_id}_{measurement_date}")

In [27]:
data=data.replace(to_replace=r'°F', value='', regex=True)
data=data.replace(to_replace=r'°%', value='', regex=True)
data=data.replace(to_replace=r'°in', value='', regex=True)
data=data[['Time', 'Temperature', 'Dew Point', 'Humidity', 'Pressure', 'Precip. Accum.']]
data['Temperature']=data['Temperature'].map(lambda x: ((float(x)-32) * 5)/9)
data['Dew Point']=data['Dew Point'].map(lambda x: ((float(x)-32) * 5)/9)
data['Pressure']=data['Pressure'].map(lambda x: float(x)*33.8639)
data['Precip. Accum.']=data['Precip. Accum.'].map(lambda x: float(x)*25.4)
data['Time'] = pd.to_datetime(data['Time'], format='%I:%M %p').dt.strftime('%H:%M')
data

      Time  Temperature  Dew Point Humidity     Pressure  Precip. Accum.
1    00:04     7.277778   6.000000      91   1009.482859           0.000
2    00:05     7.277778   6.000000      91   1009.482859           0.000
3    00:14     7.055556   5.833333      92   1009.482859           0.000
4    00:17     7.000000   5.777778      92   1009.482859           0.000
5    00:24     6.777778   5.611111      92   1009.482859           0.000
..     ...          ...        ...      ...          ...             ...
229  23:31    11.222222   4.944444      65   1009.482859           0.254
230  23:39    10.944444   4.722222      65   1009.482859           0.254
231  23:43    10.833333   4.833333      66   1009.482859           0.254
232  23:54    10.833333   4.777778      66   1009.482859           0.254
233  23:55    10.777778   4.777778      67   1009.482859           0.254

[228 rows x 6 columns]

In [11]:
daily_precipitation=data['Precip. Accum.'].sum()

17.780000000000005

In [30]:
f"PR {station_id} 1 {measurement_date.replace('-','')}1240 M 1 X X"

'PR DUDU1234 1 202104211240 M 1 X X'

In [ ]:
files.download()