Početak 2020-02-18

In [1]:
import pandas as pd
from pandas import DataFrame as df
from google.colab import files

In [17]:
start_date="2020-04-20"
end_date="2020-04-21"
wunderground_station_id="IPTUJ11"
station_id="DUDU1234"

In [18]:
range_of_dates=pd.date_range(start=start_date, end=end_date)

In [19]:
range_of_dates=list(map(lambda x: str(x)[:10],range_of_dates))

In [6]:
print(range_of_dates)

['2020-04-15', '2020-04-16']

In [22]:
for date in range_of_dates:

  url=f"https://www.wunderground.com/dashboard/pws/{wunderground_station_id}/table/{date}/{date}/daily"
  dfs = pd.read_html(url,match="Precip. Rate.")

In [28]:
  data = pd.concat(dfs)
  data.dropna(inplace = True)
  data.to_csv(f"{wunderground_station_id}_{date}")

In [29]:
data=data.replace(to_replace=r'°F', value='', regex=True)
data=data.replace(to_replace=r'°%', value='', regex=True)
data=data.replace(to_replace=r'°in', value='', regex=True)
data=data[['Time', 'Temperature', 'Dew Point', 'Humidity', 'Pressure', 'Precip. Accum.']]
data['Temperature']=data['Temperature'].map(lambda x: ((float(x)-32) * 5)/9)
data['Dew Point']=data['Dew Point'].map(lambda x: ((float(x)-32) * 5)/9)
data['Pressure']=data['Pressure'].map(lambda x: float(x)*33.8639)
data['Precip. Accum.']=data['Precip. Accum.'].map(lambda x: float(x)*25.4)
data

         Time  Temperature  Dew Point Humidity     Pressure Precip. Accum.
1    12:04 AM     7.500000   5.000000      84   1013.546527          0.00
2    12:09 AM     7.500000   5.055556      84   1013.546527          0.00
3    12:14 AM     7.444444   5.055556      85   1013.546527          0.00
4    12:19 AM     7.333333   4.944444      85   1013.546527          0.00
5    12:24 AM     7.388889   4.888889      84   1013.546527          0.00
..        ...          ...        ...      ...          ...            ...
284  11:39 PM     6.611111   2.944444      78   1013.885166          0.00
285  11:44 PM     6.555556   1.777778      72   1014.223805          0.00
286  11:49 PM     6.444444   2.000000      74   1014.223805          0.00
287  11:54 PM     6.277778   2.055556      75   1014.223805          0.00
288  11:59 PM     6.222222   3.000000      80   1014.562444          0.00

[284 rows x 6 columns]

In [ ]:
files.download()